{% extends "::base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset("css/index.css")}}">
{% endblock %}
{% block body %}
<h1> Mi primer landing page </h1>
<a class="producto1" href="/producto/1">
<button type="Producto2" class="boton1">Producto1</button></a>
<a class="producto2" href="/producto/2">
<button type="Producto2" class="boton2">Producto2</button></a>
{% endblock %}
