{% extends "::base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset("css/style.css")}}">
{% endblock %}
{% block body %}
<h1> Mi primer landing page </h1>
<a class="boton1" href="/producto/1">Producto 1</a>
<a href="/producto/2">Producto 2</a>
{% endblock %}
