{% extends "::base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset("css/style.css")}}">
{% endblock %}
{% block body %}
<h1> Primer Producto </h1>
<img src="{{asset("images/producto1.jpg")}}" width="200px">
{% endblock %}
